{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex vh-100 vw-100 justify-content-center mt-6">
        <div class="col col-md-6 col-xl-3">
            <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
            {{ form(form) }}
            <a href="{{ path('app_login') }}">Already have an account?</a>
        </div>
    </div>
{% endblock %}